@import 'theme';

:global(html,
	body,
	main) {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	font-family: $font;
	background: black;
	color: $foreground;
	margin: 0;
	overflow-x: hidden;
	scroll-snap-type: y mandatory;
	width: 100vw;

}

:global(main) {
	background-color: black;
}

:global(style) {
	display: none;
}

:global(a) {
	color: $accent;
	transition: color 0.2s ease-in-out;

	&:hover {
		color: $accent-muted;
	}
}

:global(::-webkit-scrollbar) {
	width: 3px;
	height: 3px;
}

:global(::-webkit-scrollbar-track) {
	margin: 5px;
	background: transparent;
}

:global(::-webkit-scrollbar-thumb) {
	background: $foreground-muted;
	border-radius: 100px;

}

:global(h1) {
	h1 {
		opacity: 0.99;
		font-size: 48px;
		line-height: 60px;
		font-weight: 700;
		margin-bottom: 24px;
	}
}

:global(h2) {
	opacity: 0.99;
	font-size: 32px;
	line-height: 36px;
	letter-spacing: -0.48px;
	margin-bottom: 36px;
}

:global(h3) {
	opacity: 0.99;
	font-size: 24px;
	line-height: 36px;
	font-weight: 400;
	color: $foreground-muted;
}

:global(p) {
	margin: 20px 0;
	opacity: 0.99;
}

:global(code) {
	background-color: $background-frosted;
	border-radius: 4px;
	color: $foreground;
	font-family: 'Fira Code', monospace;
	font-size: 1rem;
	padding: 6px 10px;
	height: 1em;
	display: flex;
	align-items: center;
}