@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

$background-ui: #0f0f0f;
$background-dark: #1f1f1f;
$background-light: #343434;
$background-frosted: rgba(255, 255, 255, 0.025);

$foreground: rgba(255, 255, 238, 0.95);
$foreground-muted: #999999;

$accent: #cf8cf4;
$accent-muted: lighten($accent, 10%);

$border-width: 2px;
$border-color: rgba(255, 255, 255, 0.25);
$border-radius: 1rem;
$border: $border-width solid $border-color;

$gap: 1rem;

$filter-frosted: blur(20px) brightness(0.7) saturate(1.2);

$font: 'Rubik', sans-serif;
$font-monospace: 'PT Mono', monospace;